@use "../../abstracts" as ab;

.card {
	margin-block-end: 4.75rem;

	.container {
		// width: min(95%, 90rem);
	}

	&-container {
		position: relative;
		background-color: ab.$background7;
		border-radius: 1.25rem;

		padding-block: 2.25rem;
		padding-inline: clamp(1.63rem, 2vw, 3.08rem);
		text-align: center;

		&__heading {
			font-size: clamp(1.875rem, 2.2vw, 3rem);
			text-align: center;
		}

		&__link {
			color: ab.$white;
			background-color: ab.$accent1;
			display: inline-block;
			text-align: center;
			margin-inline: auto;

			border-radius: 0.625rem;

			padding-inline: 1.4rem;
			padding-block: 0.4rem;

			text-decoration: none;
			margin-block-start: 1.76rem;

			font-weight: 700;
			font-size: clamp(1.2rem, 1.8vw, 2rem);

			border: 0.2rem solid ab.$accent1;

			transition: background-color 300ms, color 300ms;

			&:hover {
				background-color: ab.$white;
				color: ab.$accent1;
			}
		}

		img {
			position: absolute;
			width: 10rem;
			bottom: calc(100% - 1.2em);
			left: 50%;
			translate: -50%;

			@include ab.screen-40 {
				left: 25%;
				translate: 0;
			}
		}
	}
}
