.solutions-info__item_home-solution__chipy {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: right;
	outline: 2px solid rgb(9, 58, 165);
	text-align: right;
	&_arrow {
		position: relative;
		top: 4em;

		img {
			display: inline;
			outline: 2px solid red;
			transform: rotate(25deg);
		}
	}
}
.chipy-parent {
	position: relative;
	img {
		position: absolute;
		bottom: 6.5em;
		transform: rotate(25deg);
		right: 2em;
		z-index: -4;
	}
}
