@use "../../../abstracts" as ab;

.comparison {
	background-color: ab.$background7;
	padding-block: 1.28rem 5.35rem;

	.container {
		width: min(90%, 91.5rem);
	}

	&-heading {
		font-size: clamp(1.5rem, 2vw, 2.5rem);
		text-align: center;
		margin-block: 1.37rem;
	}

	&-circles {
		background-color: ab.$white;
		border-radius: 0.8em;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

		@include ab.screen-40 {
			flex-direction: row;
			gap: 0.1rem;
		}

		@include ab.screen-80 {
			justify-content: space-evenly;
		}

		&::before,
		&::after {
			content: "";
			background-color: ab.$line;
			width: 0.0625rem;
			height: 0.0625rem;
			position: absolute;
		}

		// horizontal
		&::before {
			width: 100%;

			@include ab.screen-40 {
				width: 0;
			}
		}

		// vertical
		&::after {
			height: 0;

			@include ab.screen-40 {
				height: 100%;
			}
		}

		&__item {
			background-color: ab.$background8;
			border-radius: 50%;
			width: min(100%, 24rem);
			aspect-ratio: 1 / 1;

			display: inline-flex;
			align-items: center;
			justify-content: center;

			&:last-child {
				background-color: ab.$background9;
			}

			@include ab.screen-54 {
				width: min(100%, 35rem);
			}

			p {
				font-size: clamp(1rem, 1.5vw, 1.5rem);
				// outline: 2px solid red;
				padding-inline: 1.5em;

				@include ab.screen-40 {
					font-size: clamp(1rem, 1vw, 1.5rem);
				}

				@include ab.screen-54 {
					padding-inline: 2em;
					font-size: clamp(1rem, 2vw, 1.5rem);
				}
			}
		}
	}
}
