@use "/src/styles/abstracts" as ab;

.pricing {
	--color: var(--blue);

	.container {
		display: grid;
		gap: 3em;

		.heading {
			text-align: center;
			text-wrap: balance;

			font-size: clamp(1.3rem, 2.5vi, 2.2rem);
			color: var(--color);
		}

		.cardsSmall {
			display: none;
			position: relative;
			inline-size: 100%;
			block-size: 30em;
			background-color: lightblue;

			@include ab.screen-71 {
				display: none;
			}
		}

		.cards {
			gap: 2em;
			display: none;
			display: grid;

			grid-template-columns: repeat(
				auto-fit,
				minmax(min(20rem, 100%), 1fr)
			);

			@include ab.screen-71 {
				display: grid;
			}
		}
	}
}
