$white: #faf9f6;

$background1: #ff9a00;
$background2: #333;
$background3: #ffefd780;
$background4: #ebebeb;

$text1: #333;
$text-placeholder: rgba(0, 0, 0, 0.6);

$accent1: #7e0085;

$linkedin: #0077b5;
$twitter: #1d9bf0;
$instagram: #da426c;
$facebook: #4867aa;
