@use "../../abstracts" as ab;
.booking_heading {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    // outline: 2px solid red;
    flex-direction: column;
    align-items: center;
    @include ab.screen-48 {
        // outline: 2px solid red;
        flex-direction: row;
        justify-content: space-between;
        // gap: clamp(2em, 5vw, 5em);
    }
    p {
        font-weight: 800;
        font-size: clamp(2rem, 2.2vw, 2.2rem);
        // @include ab.screen-40 {
        //     outline: 2px solid red;
        // }
    }
    img {
        padding: 2em 0em;
        @include ab.screen-55 {
            // outline: 2px solid red;
            margin-right: clamp(2em, 6vw, 6em);
        }
    }
}
.booking_content {
    font-size: clamp(1.25rem, 2.5vw, 2.5rem);
    @include ab.screen-40 {
        // outline: 2px solid red;
    }
}
.booking_link {
    display: flex;
    flex-direction: column;
    padding: 2em 0em;
    gap: 2em;
    @include ab.screen-80 {
        padding-top: 4.5em;
    }
    a {
        text-decoration: none;
        color: #1f76b4;
        cursor: pointer;
        font-size: clamp(1.3rem, 2.5vw, 2.3rem);
        font-weight: 700;
    }
    &2 {
        @include ab.screen-48 {
            // outline: 2px solid red;
            text-align: right;
        }
    }
}
