@use "./abstracts" as ab;
@use "./pages";
@use "./components";

@use "./abstracts/reset";

:root {
	--bg1: #{ab.$background1};
	--blue: #{ab.$text3};
	--dark: #{ab.$text1};

	--white: #{ab.$white};
	--accent: #{ab.$accent1};

	--scrollbar-track: #{ab.$blue2};
	--scrollbar-thumb: #{ab.$background1};
}

html {
	scroll-behavior: smooth;
}

.horizontal-scrollbar {
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	scrollbar-width: auto;

	&::-webkit-scrollbar {
		height: 0.5em;
		width: 0.5em;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track);
		margin-inline: 2em;
		border-radius: 0.3em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb);
		border: 0.15em solid var(--scrollbar-track);
		border-radius: 0.3em;
	}
}

body {
	background-color: ab.$white;
	-webkit-tap-highlight-color: transparent;
	color: ab.$text1;
}

pre {
	margin: 0;
}

.container {
	width: min(90%, 78rem);
	margin-inline: auto;
}

.container-wide {
	width: min(90%, 80rem);
	margin-inline: auto;
}

.container-wide-extra {
	width: min(95%, 95rem);
	margin-inline: auto;
}

.containerQuery {
	container-type: inline-size;
}

img {
	height: auto;
}

.calender-container {
	margin-inline: auto;
	margin-block-end: 5em;

	@include ab.screen-64 {
		width: 50em;
	}
	iframe {
		width: 100%;
		height: 43.5rem;
		border: none;
	}
}

.hero {
	--color: var(--white);
	--background: var(--bg1);

	padding-block: 2em;
	color: var(--color);
	background-color: var(--background);

	border-radius: 0 0 1.875rem 1.875rem;

	@include ab.screen-48 {
		padding-block: 2em 3em;
	}

	// background color
	&::before {
		content: "";
		background-color: ab.$background1;
		position: absolute;

		top: 0;
		height: 10em;
		right: 0;
		left: 0;

		z-index: -1;
	}
}

.sub-heading {
	font-size: clamp(1.5rem, 2.75vw, 2.5rem);
	letter-spacing: -0.05rem;
	line-height: clamp(1.875rem, 4vw, 3.75rem);
}

.heading {
	font-size: clamp(2.5rem, 3.5cqw, 3rem);

	line-height: clamp(3.125rem, 4cqw, 3.75rem);
	letter-spacing: -0.055rem;
}

.text {
	font-size: clamp(1.1rem, 3.5cqw, 1.4rem);
}

.solution-container,
.home-container,
.services-container {
	display: grid;
	gap: 5.4rem;
}
