@use "./abstracts" as ab;
@use "./pages";
@use "./components";

@use "./abstracts/reset";

:root {
	--bg1: #{ab.$background1};

	--white: #{ab.$white};
	--accent: #{ab.$accent1};

	--scrollbar-track: #{ab.$blue2};
	--scrollbar-thumb: #{ab.$background1};
}

html {
	scroll-behavior: smooth;
}

.horizontal-scrollbar {
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	scrollbar-width: auto;

	&::-webkit-scrollbar {
		height: 0.5em;
		width: 0.5em;
	}

	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track);
		margin-inline: 2em;
		border-radius: 0.3em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb);
		border: 0.15em solid var(--scrollbar-track);
		border-radius: 0.3em;
	}
}

body {
	background-color: ab.$white;
	-webkit-tap-highlight-color: transparent;
	color: ab.$text1;
}

.footer-space {
	margin-block-start: clamp(5rem, 7vw, 13rem);
}

pre {
	margin: 0;
}

.container {
	width: min(90%, 70rem);
	margin-inline: auto;
}

.containerQuery {
	container-type: inline-size;
}

img {
	height: auto;
}

.calender-container {
	margin-inline: auto;
	margin-block-end: 5em;

	@include ab.screen-64 {
		width: 50em;
	}
	iframe {
		width: 100%;
		height: 43.5rem;
		// height: 40rem;
		// height: 100%;
		border: none;
	}
}
