@use "../../abstracts/" as ab;
.container {
    .home-solution__chipy {
        // outline: 2px solid red;
        position: relative;
        // outline: 2px solid red;
        display: none;
        @include ab.screen-40 {
            display: inline;
        }
        .home-solution__chipy_arrow > img {
            display: none;
            position: absolute;
            z-index: 2;

            @include ab.screen-54 {
                display: block;
                width: 10rem;
                transform: rotate(25deg);
                top: -10em;
                right: 0;
            }

            @include ab.screen-64 {
                width: 12rem;
                right: -2em;
            }

            @include ab.screen-74 {
                right: 3em;
                top: -9.5em;
            }
        }

        .chipy-parent {
            position: relative;
            height: 43.5em;
            background-color: ab.$white;

            .calender-container {
                position: absolute;
                z-index: 1;
                height: 100%;
                width: 100%;
                background-color: ab.$white;
                display: none;
                @include ab.screen-40 {
                    display: inline;
                }
                @include ab.screen-54 {
                    // display: inline;
                    margin-inline: 0;
                    width: calc(38em + 4vw);
                    width: 100%;
                }

                @include ab.screen-64 {
                    width: 50em;
                    width: 100%;
                }
            }

            @include ab.screen-54 {
                margin-inline: 0;
                width: calc(38em + 4vw);
            }

            @include ab.screen-64 {
                width: 50em;
            }

            img {
                position: absolute;
                display: none;

                @include ab.screen-54 {
                    display: block;
                    right: -8em;
                    bottom: 1.2em;

                    rotate: 30deg;
                }
            }
        }
    }
}
