@use "../../abstracts" as ab;

.plans {
	margin-block: 3em;
	&-heading {
		font-weight: 700;
		font-size: clamp(1.5rem, 5.5cqw, 2.5rem);
		text-align: center;
	}

	&-cards {
		margin-block: 3em;
		display: grid;
		gap: 4rem;
		justify-items: center;

		@include ab.screen-64 {
			grid-template-columns: repeat(3, 1fr);

			grid-template-rows: repeat(4, auto);
		}

		&__item {
			width: min(100%, 23rem);
			position: relative;

			border-radius: 1.125rem;
			background: #fff;

			padding-inline: clamp(1.32rem, 1.8vw, 2rem);
			padding-block: clamp(1.38rem, 1.9vw, 2.1rem);

			display: grid;

			@include ab.screen-64 {
				grid-template-rows: subgrid;
				grid-row: 1/5;
			}

			gap: 1em;

			&::after,
			&::before {
				content: "";
				position: absolute;
				inset: 0;
				z-index: -1;
				border-radius: 1.125rem;

				transition: opacity 300ms;
			}

			&::before {
				box-shadow: 0px 4px 12px 3px rgba(85, 167, 250, 0.25);
				opacity: 1;
			}

			&::after {
				box-shadow: 0px 4px 30px 15px rgba(85, 167, 250, 0.25);
				opacity: 0;
			}

			&:hover::after {
				opacity: 1;
			}

			&:hover::before {
				opacity: 0;
			}

			h3 {
				font-size: clamp(2rem, 2vw, 2.25rem);
				line-height: 2.5rem; /* 125% */
				letter-spacing: -0.04rem;

				@include ab.screen-64 {
					grid-row: 1 / 2;
				}
			}

			> p {
				line-height: 1.96875rem; /* 194.444% */
				letter-spacing: -0.02025rem;

				@include ab.screen-64 {
					grid-row: 2 / 3;
				}
			}

			a {
				background-color: ab.$accent1;
				color: ab.$white;
				border: 0.15em solid ab.$accent1;
				font-weight: 600;
				display: inline-block;

				text-decoration: none;

				padding-inline: 2.4rem;
				padding-block: 0.6rem;
				border-radius: 0.625rem;

				transition: color 300ms, background-color 300ms;

				@include ab.screen-64 {
					grid-row: 3 / 4;
				}

				&:hover {
					background-color: #fff;
					color: ab.$accent1;
				}
			}

			.plans-points {
				list-style-type: none;
				padding: 0;

				display: grid;
				gap: 1.5em;
				align-content: start;

				@include ab.screen-64 {
					grid-row: 4 / 5;
				}

				li {
					div {
						display: grid;
						gap: 1em;
						align-items: center;
						grid-template-columns: 1.6rem 1fr;

						span {
							aspect-ratio: 1 / 1;
							display: flex;
							align-items: center;
							justify-content: center;
							box-shadow: 0px 4px 10px rgba(85, 167, 250, 0.25);
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
}
