@use "/src/styles/abstracts" as ab;

.trigger {
	font-size: clamp(0.8rem, 1vw, 1rem);
	border: 0;
	color: var(--white);
	background-color: transparent;
	font-weight: 700;
}

.itemList {
	list-style-type: none;
	padding: 0;
	margin: 0;

	position: relative;
}

.content {
	--bg: hsl(210, 49%, 22%, 90%);

	position: absolute;
	background-color: var(--bg);
	// translate: 0 0.6rem;
	backdrop-filter: blur(0.1em);

	left: 50%;
	translate: -50% 0.6rem;

	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 1em 1.5em;
	border-radius: 0.75em;
	text-align: left;
	width: min(20rem, 100%);
	z-index: 1;

	display: grid;
	gap: 1.5em;

	.item {
	}

	.heading {
	}

	.list {
		padding: 0;
		list-style-position: inside;
		list-style-image: url("../../../../../../../public/home/solutions/solution-check.svg");
	}
}
