@use "../../abstracts" as ab;

.whychoseus {
	padding-block-start: 4em;
	padding-block-end: 8em;

	@include ab.screen-48 {
		padding-block-end: 14em;
	}

	.ourcertifications {
		background-color: ab.$background3;

		> img {
			position: absolute;
			display: none;
			bottom: 100%;
			width: 11rem;
			left: 28%;

			@include ab.screen-48 {
				display: block;
			}
		}

		@include ab.screen-48 {
			translate: 0 12em;
		}
	}

	&-text {
		p {
			text-align: center;
			letter-spacing: -0.03rem;
			font-weight: 700;

			font-size: clamp(1.2rem, 4vw, 2.25rem);
		}
	}

	&-container {
		margin-block: 2.5em 0;
		display: flex;
		gap: 2em;
		flex-direction: column;

		@include ab.screen-48 {
			flex-direction: row-reverse;

			.ourcertifications-parent {
				width: 50%;
			}

			&__image {
				width: 50%;
			}
		}

		@include ab.screen-74 {
			.ourcertifications-parent {
				width: 70%;

				.ourcertifications {
					margin-inline: auto;
				}
			}

			&__image {
				width: 30%;
			}
		}

		@include ab.screen-80 {
			.ourcertifications-parent {
				width: 55%;
			}

			&__image {
				width: 45%;
			}
		}

		@include ab.screen-96 {
			.ourcertifications-parent {
				width: 50%;

				.ourcertifications {
					margin-inline: 0;
				}
			}

			&__image {
				width: 50%;
			}
		}

		&__image {
			text-align: center;
			position: relative;
			width: min(100%, 35rem);
			margin-inline: auto;

			> img {
				border-radius: 1.125rem;
			}

			@include ab.screen-48 {
				// translate: 0 6em;
			}

			&-more {
				position: absolute;
				right: 0;
				translate: -0.5em 1em;

				@include ab.screen-40 {
					translate: -5em 1em;
				}

				img {
					margin-left: auto;
				}

				p {
					font-weight: 700;
					letter-spacing: -0.025rem;
					font-size: clamp(1.125rem, 3vw, 1.5rem);

					translate: -2.6em -1em;
				}
			}
		}
	}
}
