@use "../../abstracts" as ab;

.breadcrumb {
	font-size: clamp(0.75rem, 1vw, 1rem);

	a {
		color: rgba(ab.$white, 0.8);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		font-weight: 500;
	}

	@include ab.screen-48 {
		display: flex;
		justify-content: space-between;
	}

	&-parent {
		display: flex;
		gap: 0.5em;
		justify-content: center;
	}

	&-others {
		display: none;

		@include ab.screen-48 {
			display: flex;
			gap: 4.39em;
		}
	}
}
