@use "../../abstracts" as ab;

.faq {
	// padding-block-end: clamp(5rem, 7vw, 13rem);
	// margin-block-end: clamp(5rem, 6vw, 10rem);

	&-heading {
		font-size: clamp(1.5rem, 2vw, 2.5rem);
		text-align: center;
	}

	&-accordion {
		padding-inline: clamp(1.36rem, 3vw, 5.23rem);
		padding-block: clamp(2.26rem, 2vw, 3.96rem);

		.accordion-root {
			display: grid;
			gap: clamp(1.41rem, 2vw, 2.06rem);

			.accordion-item {
				border-bottom: 0.0625rem solid ab.$accent1;
				padding-block-end: clamp(0.6rem, 1.4vw, 1.31rem);
				padding-inline: 0.81rem;

				.accordion-header {
					.accordion-trigger {
						font-weight: 500;
						text-align: left;
						font-size: clamp(1rem, 1.5vw, 1.5rem);
						padding: 0;

						width: 100%;
						color: ab.$text1;
						background-color: transparent;
						border: none;

						display: flex;
						justify-content: space-between;
						align-items: center;

						&[data-state="open"] {
							span {
								span:last-child {
									rotate: 0deg;
								}
							}
						}

						> span {
							display: flex;
							align-items: center;

							span {
								display: inline-block;
								width: 1em;
								height: 0.1em;
								background-color: black;

								transition: rotate 300ms;

								&:first-child {
									translate: 100%;
								}

								&:last-child {
									rotate: 90deg;
								}
							}
						}
					}
				}

				.accordion-content {
					margin-block-start: 1.3rem;
					overflow: hidden;

					&[data-state="open"] {
						animation: open 300ms ease;
						// animation-fill-mode: forwards;
						// max-height: 120px;
					}
					&[data-state="closed"] {
						animation: close 300ms ease;
						// animation-fill-mode: forwards;
					}
				}
			}
		}
	}
}

@keyframes open {
	from {
		max-height: 0;
	}
	to {
		max-height: 500px;
	}
}

@keyframes close {
	from {
		max-height: 500px;
	}
	to {
		max-height: 0;
	}
}
