@use "../../abstracts" as ab;

.faq {
	&-heading {
		font-size: clamp(1.5rem, 2vw, 2.5rem);
		text-align: center;
	}

	&-accordion {
		// padding-inline: clamp(1.36rem, 3vw, 5.23rem);
		padding-block: clamp(2.26rem, 2vw, 3.96rem);

		.accordion-root {
			display: grid;
			gap: clamp(1.41rem, 2vw, 2.06rem);

			.accordion-item {
				border-bottom: 0.0625rem solid ab.$blue;
				padding-block-end: clamp(0.6rem, 1.4vw, 1.31rem);
				padding-inline: 0.81rem;

				.accordion-header {
					.accordion-trigger {
						font-weight: 500;
						text-align: left;
						font-size: clamp(1rem, 1.5vw, 1.5rem);
						padding: 0;

						width: 100%;
						color: ab.$text1;
						background-color: transparent;
						border: none;

						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-block-end: 0.6rem;
						gap: 1em;

						&[data-state="open"] {
							div {
								span:last-child {
									rotate: 0deg;
								}
							}
						}

						> div {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							background-color: ab.$background1;
							width: 1.2rem;
							height: 1.2rem;
							aspect-ratio: 1/ 1;
							border-radius: 50%;

							position: relative;

							span {
								display: inline-block;
								width: 0.6rem;
								height: 0.1rem;
								background-color: ab.$white;

								position: absolute;

								transition: rotate 300ms;
								left: 50%;
								translate: -50%;

								&:last-child {
									rotate: 90deg;
								}
							}
						}
					}
				}

				.accordion-content {
					--duration: 200ms;
					--animation-function: cubic-bezier(0.87, 0, 0.13, 1);
					--max-height: 500px;

					overflow: hidden;

					&[data-state="open"] {
						animation: open var(--duration)
							var(--animation-function);
					}
					&[data-state="closed"] {
						animation: close var(--duration)
							var(--animation-function);
					}
				}
			}
		}
	}
}

@keyframes open {
	from {
		// height: 0;
		max-height: 0;
	}
	to {
		// height: var(--radix-accordion-content-height);
		max-height: var(--max-height);
	}
}

@keyframes close {
	from {
		// height: var(--radix-accordion-content-height);
		max-height: var(--max-height);
	}
	to {
		// height: 0;
		max-height: 0;
	}
}
