@use "/src/styles/abstracts" as ab;

.strategy {
	--color: var(--blue);

	color: var(--color);
	overflow: hidden;

	@include ab.screen-54 {
		overflow: visible;
	}

	h2 {
		text-align: center;
		text-wrap: balance;
	}

	h3 {
		font-size: clamp(1.125rem, 2vw, 1.75rem);
		display: flex;
		gap: 0.3em;

		align-items: start;

		img {
			width: 2.5ch;
		}
	}

	.large {
		display: none;

		@include ab.screen-54 {
			display: flex;
		}
	}

	.small {
		@include ab.screen-54 {
			display: none;
		}
	}

	.container {
		margin-block-start: clamp(1.5rem, 5vw, 4.5rem);

		display: flex;
		flex-direction: column;

		gap: 2.5em;

		@include ab.screen-54 {
			flex-direction: row;
			align-items: center;
		}

		.info {
			padding-inline: 1em;
			text-align: center;

			@include ab.screen-54 {
				text-align: left;
				width: 55%;
			}

			h3 {
				margin-block-end: 2.5rem;
			}

			.text {
				display: grid;
				gap: 1.75em;

				font-size: clamp(1rem, 1.75vw, 1.5rem);
			}

			.sub {
				text-align: left;
				color: rgba(28, 55, 82, 0.4);
				font-size: 0.75rem;
			}
		}

		.visual {
			overflow: hidden;

			h3 {
				justify-content: center;
				margin-block-end: 1em;
			}

			@include ab.screen-54 {
				overflow: visible;
				width: 45%;
			}

			.elements {
				display: grid;
				gap: 3em;

				max-width: 100%;

				padding: 1.5em 1em;

				overflow: scroll auto;

				grid-template-columns: repeat(5, 1fr);

				scroll-snap-type: inline mandatory;
				scroll-behavior: smooth;
				overscroll-behavior-inline: contain;

				> * {
					scroll-snap-align: center;
					min-inline-size: 100%;
				}

				@include ab.screen-54 {
					grid-template-columns: 0;
					max-width: auto;
					overflow: visible;
				}

				> div {
					--x: 25%;

					width: clamp(12rem, 19vw, 16rem);
					aspect-ratio: 16 / 10;

					border-radius: 1rem;
					box-shadow: (0px 2.4px 32.22px rgba(0, 92, 186, 0.6));

					@include ab.screen-54 {
						&:nth-child(even) {
							translate: calc(var(--x) * 1);
						}

						&:nth-child(3) {
							translate: calc(var(--x) * 3);
						}

						&:nth-child(1),
						&:nth-child(5) {
							translate: calc(var(--x) * -2);
						}
					}

					> * {
						width: max-content;
						margin-inline: auto;
					}

					h4 {
						font-size: clamp(3.75rem, 5.5vw, 5rem);
						font-family: "Times New Roman", Times, serif;
					}

					p {
						font-size: clamp(0.75rem, 1.5vw, 1.125rem);
						font-weight: 600;

						margin-block-end: auto;

						translate: 0 -50%;
					}
				}
			}
		}
	}
}
