@use "/src/styles/abstracts" as ab;

.dialog {
	border-color: transparent;
	width: min(60rem, 90%);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 0.75rem;
	padding: 0 0em 2em;

	background-color: ab.$white;
	overflow: auto;

	&::backdrop {
		--bg: hsl(0, 0%, 0%, 0.6);

		background-color: var(--bg);
		backdrop-filter: blur(2px);
	}

	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: sticky;
		top: -1em;
		padding-inline: 1em;

		background-color: #fff;

		background-color: ab.$white;
		padding-block: 1.5em 1em;
		z-index: 1;

		button {
			border: transparent;
			background-color: transparent;

			cursor: pointer;
		}

		svg {
			font-size: 1.5rem;
			color: ab.$text1;
		}
	}

	.heading {
		text-align: center;
		margin-block-end: 0.6em;

		h2 {
			color: var(--blue);
			font-size: clamp(1.2rem, 1.75vw, 1.5rem);
		}
	}

	.scroll {
		overflow: auto;
		border-radius: 0.75rem;

		margin-inline: 1em;

		box-shadow: 0px 2.534px 25.337px 6.334px rgba(28, 55, 82, 0.6);
	}

	.table {
		border-radius: inherit inherit 0 0;
		background-color: #fff;
		overflow: auto;
		min-width: 48em;

		.tableHeading {
			display: grid;

			grid-template-columns: repeat(3, 1fr);
			background-color: var(--blue);
			color: var(--white);

			padding-block: 1.5em;

			h3 {
				text-align: center;

				font-size: clamp(1rem, 1.5vw, 1.25rem);
			}
		}

		.tableContent {
		}
	}
}
