@use "/src/styles/abstracts" as ab;

.main {
	.container {
		display: flex;
		gap: 1.5em;

		flex-direction: column;

		@include ab.screen-48 {
			flex-direction: row;
		}
	}

	.text {
		@include ab.screen-48 {
			width: 65%;
			justify-content: space-between;
		}

		.heading {
			font-size: clamp(2.5rem, 3vw, 3rem);
			line-height: clamp(3.75rem, 5vw, 5rem);
			letter-spacing: -0.05rem;

			text-wrap: balance;
		}

		.content {
			margin-block-start: 1.5em;
			font-size: clamp(1.125rem, 1.6vw, 1.625rem);

			display: none;

			@include ab.screen-48 {
				text-wrap: pretty;
				display: block;
			}
		}
	}

	.services {
		position: relative;

		.list {
			--height: 3.3rem;

			font-size: clamp(1.5rem, 2vw, 2rem);
			font-weight: 700;
			position: absolute;

			translate: 0 35%;

			width: 100%;
			height: var(--height);

			text-align: center;

			overflow: hidden;

			@include ab.screen-48 {
				--height: clamp(3.5rem, 6.5vw, 4.4rem);

				translate: 0 40%;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					padding: 0;

					height: var(--height);

					display: flex;
					align-items: center;
					justify-content: center;
				}

				animation: services 25000ms ease infinite;

				translate: 0 -0%;
			}
		}

		img {
			margin-inline: auto;
		}
	}
}

@keyframes services {
	0%,
	12.5% {
		translate: 0 calc(var(--height) * 0);
	}

	12.5%,
	25% {
		translate: 0 calc(var(--height) * -1);
	}

	25%,
	37.5% {
		translate: 0 calc(var(--height) * -2);
	}

	37.5%,
	50% {
		translate: 0 calc(var(--height) * -3);
	}

	50%,
	62.5% {
		translate: 0 calc(var(--height) * -4);
	}

	62.5%,
	75% {
		translate: 0 calc(var(--height) * -5);
	}

	75%,
	87.5% {
		translate: 0 calc(var(--height) * -6);
	}

	87.5%,
	99% {
		translate: 0 calc(var(--height) * -7);
	}
	99%,
	100% {
		translate: 0 calc(var(--height) * -8);
	}
}
