@use "../../abstracts" as ab;
.form_main {
    padding-block: 5em 4em;
    color: ab.$text2;
    background-color: ab.$background1;
    border-radius: 0 0 1.875rem 1.875rem;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;

        @include ab.screen-40 {
            flex-direction: row;
            justify-content: space-between;
        }
        img {
            width: clamp(19em, 24vw, 24em);
        }
    }
    // background color
    &::before {
        content: "";
        background-color: ab.$background1;
        position: absolute;
        // border-radius: 0 0 1.875rem 1.875rem;

        top: 0;
        height: 10em;
        right: 0;
        left: 0;

        z-index: -1;
    }

    h1 {
        font-size: clamp(1.7rem, 4vw, 4rem);
        letter-spacing: -0.03rem;
        margin-block-end: 0.2em;
        text-align: center;
        @include ab.screen-40 {
            text-align: left;
        }
    }
}
.form_content {
    > p {
        font-weight: 600;
        font-size: clamp(1.12rem, 2vw, 2rem);
        margin: 2.5em 0em 3.5em 0em;
        @include ab.screen-40 {
            font-weight: 700;
        }
    }
    a {
        color: #418fde;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    #hubspotForm {
        background-color: #d1e5f7;
        padding: 1em;
        border-radius: 0.7em;
        width: min(90%, 70rem);
        margin-inline: auto;
        // font-size: clamp(0.7rem, 2vw, 1.7rem);
    }
    form {
        input,
        select,
        textarea {
            border-radius: 0.3em;
            border: none;
            padding: 0.5em;
        }

        background-color: #d1e5f7;
        padding: 1em;
        border-radius: 0.7em;
        width: min(90%, 70rem);
        margin-inline: auto;
        font-size: clamp(0.7rem, 2vw, 1.7rem);
        .form_name {
            display: grid;
            gap: 1em;

            grid-template-columns: repeat(
                auto-fit,
                minmax(min(100%, 12rem), auto)
            );
        }
        .form_content {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
            textarea {
                min-height: 7em;
            }
        }
        .form_check {
            display: flex;
            align-items: flex-start;
            gap: 1em;
            // margin-top: 1em;
            input {
                height: 1em;
                @include ab.screen-64 {
                    transform: scale(1.5);
                }
            }
        }
        .form_button {
            margin-top: 1em;
            text-align: center;
            button {
                // width: clamp(7.7em, 19vw, 19em);
                padding: 0.5em 3em 0.5em 3em;
                background: #e76f51;
                color: white;
                border: none;
                border-radius: 0.2em;
            }
        }
    }
}
