@use "/src/styles/abstracts" as ab;

.main {
	display: grid;
	gap: 1em;

	.container {
		// outline: 2px solid red;
		display: grid;
		gap: 0.5em;

		@include ab.screen-48 {
			grid-template-columns: 3fr 2fr;
		}

		p {
			text-align: center;

			@include ab.screen-48 {
				text-align: justify;
			}
		}

		.content {
			container-type: inline-size;
			display: grid;
			gap: 1em;

			align-content: center;

			> h1 {
				text-align: center;
				text-wrap: balance;

				@include ab.screen-48 {
					text-align: left;
					text-wrap: wrap;
				}
			}
		}

		.image {
			// outline: 2px solid lightpink;

			img {
				margin-inline: auto;

				@include ab.screen-48 {
					// margin: 0;
					height: 25rem;
				}
			}
		}
	}

	.large {
		display: none;

		@include ab.screen-48 {
			display: block;
		}
	}

	.small {
		@include ab.screen-48 {
			display: none;
		}
	}
}
